
<div class="bigspacer"></div>
<div class="clearfix">
	<div class="content" style="text-align:center;padding:50px">
            <p><i class="fa fa-exclamation-circle fa-5x" style="color:#e24546"></i></p>
            <h2>OOPS! An Error Occurred</h2>
            <p>An error occurred while processing the request. This may be due to the following reasons:</p>
            <div style="width:50%;margin:0 auto;text-align:left">
                  <ul>
                        <li>You are trying to access a page that is unavailable</li>
                        <li>You are trying to access a configuration that is unavailable</li>
                        <li>Your session has expired</li>
                        <li>Unavailability of the Application Services</li>
                        <li>Incomplete request parameters</li>
                        <li>Error in the application</li>
                  </ul>
            </div>
            <p><a id="home-btn" href="#!HOME">Click here</a> to re-try.</p>
            <p>If you continue to face issues with the application, contact support for assistance.</p>  
	</div>
</div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>