<div class="spacer"></div>
<footer id="footer" class="footer text-white left" style="margin-top:0px;margin-bottom:0px;padding-right:1em;padding-left:1em;">
    <div class="row">
        <div class="col-lg-6 text-left t10">
            Handcrafted by 
            <a href="http://www.alchemize.in" target="_blank">Alchemize</a>
            <br>
        </div>

        <div class="col-lg-6 columns text-right t10">
            <span id="appversion_txt">Version: 3.0.0</span>
        </div>
    </div>
</footer>